   <div alt="hd_water">
       <img src="img/home/hd_water_water.png" id="hd_water_water" alt="hd_water" class="hd_water">
       <div class="hd_water_item_box hd_water">
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item011 hd_water'>
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item011 hd_water'>
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item011 hd_water'>
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item012 hd_water'>
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item012 hd_water'>
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item012 hd_water'>
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item013 hd_water'>
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item013 hd_water'>
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item013 hd_water'>
           <img src="img/home/hd_water_item02.png" class='hd_water_item hd_water_item021 hd_water'>
           <img src="img/home/hd_water_item02.png" class='hd_water_item hd_water_item021 hd_water'>
           <img src="img/home/hd_water_item02.png" class='hd_water_item hd_water_item021 hd_water'>
           <img src="img/home/hd_water_item02.png" class='hd_water_item hd_water_item021 hd_water'>
           <img src="img/home/hd_water_item02.png" class='hd_water_item hd_water_item021 hd_water'>
           <img src="img/home/hd_water_item02.png" class='hd_water_item hd_water_item021 hd_water'>
           <img src="img/home/hd_water_item02.png" class='hd_water_item hd_water_item022 hd_water'>
           <img src="img/home/hd_water_item02.png" class='hd_water_item hd_water_item022 hd_water'>
           <img src="img/home/hd_water_item02.png" class='hd_water_item hd_water_item022 hd_water'>
           <img src="img/home/hd_water_item02.png" class='hd_water_item hd_water_item022 hd_water'>
           <img src="img/home/hd_water_item02.png" class='hd_water_item hd_water_item022 hd_water'>
           <img src="img/home/hd_water_item02.png" class='hd_water_item hd_water_item022 hd_water'>
           <img src="img/home/hd_water_item03.png" class='hd_water_item hd_water_item031 hd_water'>
           <img src="img/home/hd_water_item03.png" class='hd_water_item hd_water_item031 hd_water'>
           <img src="img/home/hd_water_item03.png" class='hd_water_item hd_water_item031 hd_water'>
           <img src="img/home/hd_water_item03.png" class='hd_water_item hd_water_item031 hd_water'>
           <img src="img/home/hd_water_item03.png" class='hd_water_item hd_water_item031 hd_water'>
           <img src="img/home/hd_water_item03.png" class='hd_water_item hd_water_item031 hd_water'>
           <img src="img/home/hd_water_item03.png" class='hd_water_item hd_water_item032 hd_water'>
           <img src="img/home/hd_water_item03.png" class='hd_water_item hd_water_item032 hd_water'>
           <img src="img/home/hd_water_item03.png" class='hd_water_item hd_water_item032 hd_water'>
           <img src="img/home/hd_water_item03.png" class='hd_water_item hd_water_item032 hd_water'>
           <img src="img/home/hd_water_item03.png" class='hd_water_item hd_water_item032 hd_water'>
           <img src="img/home/hd_water_item03.png" class='hd_water_item hd_water_item032 hd_water'>
           <img src="img/home/home_water_block.png" class='hd_water_block hd_water'>
        </div>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water hd_water_round11'>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water hd_water_round12'>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water hd_water_round13'>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water hd_water_round11'>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water hd_water_round12'>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water hd_water_round13'>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water hd_water_round11'>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water hd_water_round12'>
   </div>