<div class="info_wrap">
    <h3>體質能力</h3>
    <div class="life_ability">
        <p>生命力:</p>
        <div class="pic">
            <img src="img/modify/icon_life.png" alt="">
            <img src="img/modify/icon_life.png" alt="">
            <img src="img/modify/icon_life.png" alt="">
            <img src="img/modify/icon_life.png" alt="">
        </div>
    </div>
    <div class="jump_ability">
        <p>跳躍力:</p>
        <div class="pic">
            <div class="jump_bar">
                <div class="bar_add"></div>
                <span class="meter">2m</span>
            </div>
        </div>
    </div>
    <h3>環境適應力</h3>
    <div class="evemt_ability">
        <canvas class="chart_canvas">
        </canvas>
    </div>
</div>