<nav class="sidebar-nav">
  <ul class="nav">
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon cui-animal"></i> 動物部件管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="animalHead.php">
            <i class="nav-icon cui-animal"></i> 動物頭部</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="animalBody.php">
            <i class="nav-icon cui-animal"></i> 動物身體</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="animalLeg.php">
            <i class="nav-icon cui-animal"></i> 動物腿部</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="animalTail.php">
            <i class="nav-icon cui-animal"></i> 動物尾巴</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="background.php">
            <i class="nav-icon cui-animal"></i> 背景管理</a>
        </li>

      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="gameQuestion.php">
        <i class="nav-icon cui-pregnant"></i> 題庫管理</a>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-star"></i> 預約導覽管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="unaviableDate.php">
            <i class="nav-icon cui-calendar"></i> 不可預約日期管理
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="resvOrder.php">
            <i class="nav-icon icon-star"></i> 預約單管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="resvSessionCapacity.php">
            <i class="nav-icon icon-star"></i> 導覽場次管理
          </a>
        </li>

      </ul>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-bell"></i> 選怪排行管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="collections.php">
            <i class="nav-icon icon-bell"></i> 選怪作品查詢</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="message.php">
            <i class="nav-icon icon-bell"></i> 留言記錄查詢</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="report.php">
            <i class="nav-icon icon-bell"></i> 留言檢舉管理</a>
        </li>

      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="productOrder.php">
        <i class="nav-icon icon-pencil"></i> 訂單管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="product.php">
        <i class="nav-icon icon-pie-chart"></i> 商品管理</a>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-bell"></i> 會員管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="user.php">
            <i class="nav-icon icon-bell"></i> 會員管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="prompts.php">
            <i class="nav-icon icon-bell"></i> 提示語管理</a>
        </li>

      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="admin.php">
        <i class="nav-icon cui-people"></i> 管理員帳號管理
      </a>
    </li>
    <li class="divider"></li>
    <!-- <li class="nav-title">Extras</li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-star"></i> Pages</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="login.html" target="_top">
              <i class="nav-icon icon-star"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register.html" target="_top">
              <i class="nav-icon icon-star"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="404.html" target="_top">
              <i class="nav-icon icon-star"></i> Error 404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="500.html" target="_top">
              <i class="nav-icon icon-star"></i> Error 500</a>
          </li>
        </ul>
      </li>
    </ul> -->
</nav>