
$col_white:#efefef;
$col_black:#333333;

$col_footer:#06743a;

$col_btn_pink:#d18082;
$col_btn_blue:#4f98a5;
$col_btn_orange:#dd7426;



$col_modify_box:#95bbcc;
$col_modify_boxshadow:#639b9f;


$col_white_resv:#ffffff;
$col_gray:#ccc;
$col_brown:#5f1a2b;


$col_coffee:#906F52;