// 字體大小


$h1_fz:36px;
$h2_fz:24px;
$h3_fz:18px;

$h1_s_fz:24px;
$h2_s_fz:18px;
$h3_s_fz:18px;



$lg_fz:24px;
$m_fz:18px;
$base_fz:16px;
$s_fz:14px;
$xs_fz:12px;


$lh:1.6em;//line-height
$ls:1px;//letter-spacing
